body {
  font-family: Helvetica, Arial, sans-serif;
}

.first-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: rgb(19, 19, 19);
  padding: 10px 0; 
}

.first-list {
  display: flex;
  width: 27%;
  justify-content: space-between;
  padding-left: 20px;
  color: #aaa;
}

.first-list li:hover {
  cursor: pointer;
  color:#fff;
}

.second-list {
  display: flex;
  width: 17%;
  justify-content: space-between;
  padding-right: 20px;
  color: #aaa;
}

.second-list li:hover {
  cursor: pointer;
  color: #fff;
}

.second-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;    
}

.third-list {
  display: flex;
  width: 33%;
  justify-content: space-between;
  margin-left: 20px;
  color: #aaa;
  padding: 19px 0;
  text-transform: uppercase;
}

.third-list li:hover{
  cursor: pointer;
  color: rgb(19, 19, 19);
}

.second-section #search-icon {
  border-left: 1px solid rgb(235, 231, 231);
  padding: 17px;
  color: #aaa; 
}

#search-icon .fa-search {
  font-size: 17px;
}

.third-section {
  background-color: #FFDD33;
  padding: 10px 20px;
}
.third-section .announcement {
  font-size: 0.8rem;
}
.third-section .announcement:hover {
  cursor: pointer;
}
